@page "/EmpHome"
@using BlazerServerAppRepo.Data
@using EmpModel
@using EmployeeServices
@inject IEmployeeService employee
<NavLink class="nav-link" href="AddEmp">
    <span class="oi oi-plus" aria-hidden="true"></span> Add New
</NavLink>
<h1>Employee Data</h1>
@if (objCtmr == null)
{
    <p><em>Loading...</em></p> }
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ProfileImage</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var temp in objCtmr)
            {
                <tr>
                    <td>@temp.EmployeeId</td>
                    <td>@temp.Name</td>
                    <td>@temp.ProfileImage</td>
                    <td>@temp.Gender</td>
                    <td>@temp.Department</td>
                    <td>@temp.Salary</td>
                    <td>@temp.StartDate</td>
                    <td>@temp.Notes</td>
                    <td>
                        <a class="nav-link" href="EditEmployee/@temp.EmployeeId">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                        </a>
                        <a class="nav-link" href="/DeleteEmp/@temp.EmployeeId">
                            <span class="oi oi-trash" aria-hidden="true"></span> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    List<EmployeeModel> objCtmr;
    protected override async Task OnInitializedAsync()
    {
        objCtmr = await Task.Run(() => employee.GetEmploess());
    }
}
